In [13]:
import pandas as pd
import numpy as np
import re

In [3]:
PATH = './Resume.csv'

df = pd.read_csv(PATH)

df.head()

,ID,Resume_str,Resume_html,Category
0,16852973,HR ADMINISTRATOR/MARKETING ASSOCIATE\...,"<div class=""fontsize fontface vmargins hmargin...",HR
1,22323967,"HR SPECIALIST, US HR OPERATIONS ...","<div class=""fontsize fontface vmargins hmargin...",HR
2,33176873,HR DIRECTOR Summary Over 2...,"<div class=""fontsize fontface vmargins hmargin...",HR
3,27018550,HR SPECIALIST Summary Dedica...,"<div class=""fontsize fontface vmargins hmargin...",HR
4,17812897,HR MANAGER Skill Highlights ...,"<div class=""fontsize fontface vmargins hmargin...",HR

In [4]:
df.shape

(2484, 4)

In [23]:
n_train_samples = 75
n_val_samples = 25

total_samples = n_train_samples + n_val_samples

random_idxs = np.random.choice(df.shape[0], total_samples, replace=False)

random_train_idxs = random_idxs[:n_train_samples]
random_val_idxs = random_idxs[n_train_samples:]

random_val_idxs

array([ 809, 2110, 1419, 2048, 2062,   23,  386,  856, 1680, 1284, 1182,
       1606, 2321, 1356,  497, 1326,  542,  280, 2320, 2298,  918, 2326,
       2445,  921, 1518])

In [14]:
def remove_excess_spaces(text):
         
   text = re.sub(r'\s+', ' ', text).strip()

   return text

In [26]:
resumes = df['Resume_str'].apply(remove_excess_spaces)

for i in range(n_train_samples):
    
    file = open(f'train_txt/train_{i}.txt', 'w', encoding='utf-8')
    file.write(resumes[random_train_idxs[i]])
    file.close()
    
for i in range(n_val_samples):
    
    file = open(f'val_txt/train_{i}.txt', 'w', encoding='utf-8')
    file.write(resumes[random_val_idxs[i]])
    file.close()